
INFOGR2024Template/.vs/INFOGR2024Template/FileContentIndex/88c81850-bd48-4ec5-aeba-e860ca0ed7c8.vsidx
INFOGR2024Template/.vs/INFOGR2024Template/FileContentIndex/read.lock
INFOGR2024Template/obj/Debug/net6.0/INFOGR2024Template.AssemblyInfo.cs
INFOGR2024Template/obj/Debug/net6.0/INFOGR2024Template.assets.cache
INFOGR2024Template/obj/Debug/net6.0/INFOGR2024Template.GeneratedMSBuildEditorConfig.editorconfig
INFOGR2024Template/obj/INFOGR2024Template.csproj.nuget.dgspec.json
INFOGR2024Template/obj/INFOGR2024Template.csproj.nuget.g.targets
INFOGR2024Template/obj/Debug/net6.0/INFOGR2024Template.GlobalUsings.g.cs
INFOGR2024Template/obj/Debug/net6.0/INFOGR2024Template.csproj.AssemblyReference.cache
INFOGR2024Template/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
INFOGR2024Template/obj/project.assets.json
INFOGR2024Template/obj/Debug/net6.0/INFOGR2024Template.AssemblyInfoInputs.cache
INFOGR2024Template/obj/INFOGR2024Template.csproj.nuget.g.props
INFOGR2024Template/obj/project.nuget.cache
INFOGR2024Template/.vs/INFOGR2024Template/DesignTimeBuild/.dtbcache.v2
